@tailwind base;
@tailwind components;
@tailwind utilities;
 
.bg-primary{
  background: #252836;
}
.bg-secondary{
  background: #1F1D2B;
}
::-webkit-scrollbar {
  display: none;
}
.hr{
  background: white;
  opacity: 0.15;
  height: 1px;
}
.hr-two{
  background: white;
  opacity: 0.40;
  height: 1px;
}